.button {
}

.disabled {
}

.secondary {
    color: #0066cc;
}

.default {
}

.red {
    font-size: large;
    color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
